In [1]:
import pandas as pd
import numpy as np
import random
from datetime import datetime, timedelta

np.random.seed(42)

rows = 500

customer_ids = np.random.randint(1000, 1100, rows)
order_ids = np.arange(5000, 5000 + rows)
products = ["Laptop", "Mobile", "Tablet", "Headphones", "Smartwatch"]
cities = ["Mumbai", "Delhi", "Bangalore", "Chennai", "Hyderabad"]

data = {
    "Order_ID": order_ids,
    "Customer_ID": customer_ids,
    "Order_Date": [datetime(2023,1,1) + timedelta(days=random.randint(0,365)) for _ in range(rows)],
    "Product": np.random.choice(products, rows),
    "Quantity": np.random.randint(1, 5, rows),
    "Price": np.random.randint(5000, 50000, rows),
    "City": np.random.choice(cities, rows),
    "Date_of_Birth": [datetime(1980,1,1) + timedelta(days=random.randint(0,10000)) for _ in range(rows)]
}

df = pd.DataFrame(data)

# Introduce Missing Values
df.loc[np.random.choice(df.index, 20), 'Price'] = np.nan
df.loc[np.random.choice(df.index, 15), 'City'] = np.nan

# Introduce Duplicates
df = pd.concat([df, df.iloc[0:5]])

df.to_csv("raw_sales_data.csv", index=False)

df.head()

,Order_ID,Customer_ID,Order_Date,Product,Quantity,Price,City,Date_of_Birth
0,5000,1051,2023-07-28,Headphones,1,26172.0,Bangalore,1985-09-29
1,5001,1092,2023-06-03,Mobile,3,16555.0,Chennai,1989-09-03
2,5002,1014,2023-01-23,Tablet,3,26874.0,Delhi,1985-12-26
3,5003,1071,2023-04-03,Smartwatch,4,18081.0,Delhi,1998-07-17
4,5004,1060,2023-07-14,Laptop,2,29063.0,Bangalore,2003-04-10

In [2]:
df.shape

(505, 8)

In [3]:
len(df)

505

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 505 entries, 0 to 4
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       505 non-null    int64
 1   Customer_ID    505 non-null    int32
 2   Order_Date     505 non-null    datetime64[ns]
 3   Product        505 non-null    object
 4   Quantity       505 non-null    int32
 5   Price          485 non-null    float64
 6   City           492 non-null    object
 7   Date_of_Birth  505 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int32(2), int64(1), object(2)
memory usage: 31.6+ KB

In [6]:
df.isnull().sum()

Order_ID          0
Customer_ID       0
Order_Date        0
Product           0
Quantity          0
Price            20
City             13
Date_of_Birth     0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(5)

In [9]:
df=df.drop_duplicates()
df.duplicated().sum()

np.int64(0)

In [12]:
median_price=df['Price'].median()

In [15]:
df['Price']=df['Price'].fillna(median_price)

In [17]:
df['Price'].isnull().sum()

np.int64(0)

In [19]:
df['City'] = df['City'].fillna("Unknown")
df['City'].isnull().sum()

np.int64(0)

In [23]:
df['Order_Date']=pd.to_datetime(df['Order_Date'])
df['Date_of_Birth']=pd.to_datetime(df['Date_of_Birth'])

In [25]:
df['Total_Amount']=df['Quantity'] * df['Price']

In [29]:
df['Custmer_Age']=2026-df['Date_of_Birth'].dt.year

In [30]:
df['Product']=df['Product'].str.lower()

In [31]:
df.isnull().sum()
df.head()
df.shape

(500, 10)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       500 non-null    int64
 1   Customer_ID    500 non-null    int32
 2   Order_Date     500 non-null    datetime64[ns]
 3   Product        500 non-null    object
 4   Quantity       500 non-null    int32
 5   Price          500 non-null    float64
 6   City           500 non-null    object
 7   Date_of_Birth  500 non-null    datetime64[ns]
 8   Total_Amount   500 non-null    float64
 9   Custmer_Age    500 non-null    int32
dtypes: datetime64[ns](2), float64(2), int32(3), int64(1), object(2)
memory usage: 37.1+ KB

In [32]:
df.to_csv("cleaned_sales_data.csv",index=False)